<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApp"
        tools:targetApi="31" >
        <activity
            android:name=".RelativeLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name=".LinearLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SecondLayoutDemo"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentTaskActivity"
            android:exported="false" />
        <activity
            android:name=".RtPermissionReturnResult2"
            android:exported="false" />
        <activity
            android:name=".RtPermissionReturnResult"
            android:exported="false" />
        <activity
            android:name=".RecycleViewDemo"
            android:exported="false" />
        <activity
            android:name=".TabLayoutDemo"
            android:exported="false" />
        <activity
            android:name=".VectorShapeSelector"
            android:exported="false" />
        <activity
            android:name=".CustomButtonWithprogressbar"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".DrawableDemo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>